* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}


#instruct {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b5e1ff75;
    font-size: 3em;
    text-align: center;
}

/* circle that will appear first and help in toggling on and off the page */
.circle {
    background-color: #c300ff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 0.8em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    cursor: pointer;
    z-index: 100;
}

/* warpper of the page */

section {
    display: none;
    background: #ffffff;
    background: linear-gradient(179deg, #ffffff 0%, #ffffff 0%, #ffffff 0%, #d98cff 100%, #ff000000 0%);
    width: 100%;
    min-height: 100vh;
    transition: all 0.4s;
    padding-bottom: 20vh;
    overflow-x: hidden;
}

/* search bar  */
div.search {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9900ff5a;

}

div>input {
    border: 2px solid #c300ff;
    width: 500px;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    outline: none;
}

/* wrapper of all the tabs  */

.allTabs {
    width: 100vw;
    display: flex;
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* tab which contains all the tab's information */

.tab {
    display: inline-block;
    padding: 10px 8px;
    box-shadow: 0px 0px 5px 0px #0000001f;
    border-radius: 12px;
    border: #c300ff solid 2px;
    background-color: #c300ff09;
    backdrop-filter: 2px;
}

.tab:hover {
    transition: all 0.1s linear;
    background-color: #c300ff;
    border: #c300ff solid 2px;
    box-shadow: 0px 0px 4px 0px #818181;
}

.tab>a {
    text-decoration: none;
    color: black;
}

.tab:hover a {
    color: rgb(255, 255, 255);
}


.tab .tabName {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tab img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.tab h1 {
    border-left: 1px solid rgb(0, 0, 0);
    padding: 2px 2px 2px 12px;
    margin: 6px;
    font-size: 16px;
    font-weight: 800;
}

.tab:hover h1 {
    border-left: 1px solid #ffffff;
}


.tab .url {
    color: rgb(123, 0, 255);
    width: 150px;
    height: 10px;
    font-size: 8px;
    overflow: hidden;
    text-decoration: underline;
}

.tab:hover .url {
    color: white;
}

p.type {
    border-radius: 12px;
    color: rgb(174, 0, 255);
    padding: 2px 6px;
    display: inline-block;
    margin: 4px 10px;
    font-size: 8px;
    display: none;
}
